<h2>Listagem de Pokémons</h2>

<hr />

<div class="row justify-content-center g-2 mt-3">
  @for (pokemon of pokemonsFavoritos$ | async; track pokemon.nome) {
    <div class="col-3 col-md-2 col-lg-1">
      <a [routerLink]="['/pokemons', pokemon.id]" [title]="pokemon.nome">
        <div class="card border-2 rounded-circle">
          <div class="card-body text-center">
            <img class="img-fluid" [src]="pokemon.urlSprite" [alt]="pokemon.nome" />
          </div>
        </div>
      </a>
    </div>
  }
</div>

<div class="row justify-content-center g-3 mt-3">
  @for (pokemon of pokemons$ | async; track pokemon.nome) {
    <div class="col-md-5 col-xl-3" style="min-height: 200px">
      <app-card-pokemon
        [pokemon]="pokemon"
        [exibirLink]="true"
        (statusFavoritoAlterado)="localStorageService.alternarStatusPokemon($event)"
      ></app-card-pokemon>
    </div>
  }
</div>

<div class="d-flex justify-content-center my-4">
  <button class="btn btn-primary" (click)="carregarMais()" [disabled]="paginaFinalAlcancada">
    <i class="bi bi-arrow-clockwise my-auto me-1"></i>
    Carregar mais
  </button>
</div>
