<h2>Listagem de Pokémons</h2>

<hr />

<div class="row justify-content-center g-2 mt-3">
  @for (pokemon of pokemonsFavoritos$ | async; track pokemon.id) {
    <div class="col-3 col-md-1">
      <a [routerLink]="['/pokemons', pokemon.id]" [title]="pokemon.nome">
        <div class="card border-2 rounded-circle">
          <div class="card-body text-center">
            <img class="img-fluid" [src]="pokemon.urlSprite" [alt]="pokemon.nome" />
          </div>
        </div>
      </a>
    </div>
  }
</div>

<div class="row g-3 mt-3">
  @for (pokemon of pokemons$ | async; track pokemon.id) {
    <div class="col-md-3" style="min-height: 200px">
      <app-card-pokemon
        [pokemon]="pokemon"
        [exibirLink]="true"
        (statusFavoritoAlterado)="localStorageService.alternarStatusPokemon($event)"
      ></app-card-pokemon>
    </div>
  }
</div>

<div class="text-center my-3">
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" (click)="carregarMais()" [disabled]="offsetFinalAlcancado">
      <i class="bi bi-arrow-clockwise my-auto me-2"></i>
      Carregar mais
    </button>
  </div>
</div>
