<h2>Listagem de Pokémons</h2>

<hr />

<div class="row justify-content-center g-2 mt-3">
  @for (pokemon of pokemonsFavoritos; track pokemon.nome) {
  <div class="col-3 col-md-1">
    <a [routerLink]="['/pokemons', pokemon.id]" [title]="pokemon.nome">
      <div class="card border-2 rounded-circle">
        <div class="card-body text-center">
          <img class="img-fluid" [src]="pokemon.urlSprite" [alt]="pokemon.nome" />
        </div>
      </div>
    </a>
  </div>
  }
</div>

<div class="row g-3 mt-3">
  @for (pokemon of pokemons; track pokemon.nome) {
  <div class="col-md-3">
    <app-card-pokemon
      [pokemon]="pokemon"
      [exibirLink]="true"
      (statusFavoritoAlterado)="alternarStatusPokemon($event)"
    ></app-card-pokemon>
  </div>
  }
</div>
